* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 165, 120);
}
.form {
    background-color: rgb(157, 222, 139);
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20%;
    width: 400px;
    height: auto;
    text-align: start;
    padding: 15px;
}
.tittle {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.box {
    margin-top: 10px;
}
.box input{
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
.inputs {
    margin-top: 10px;
}
.submit {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70px;
    height: 20px;
    border-radius: 5px;
}
.button {
    text-align: center;
}